*{
   margin: 0;
   padding: 0;
   font-family:cursive;
   text-align: center;
   background-image: url('img/bodybg.jpg');
}

.mainheader img {
  width: 80%;
}

.post-content {
  font-size: 30px;
  text-decoration: none;

}
.top-content {
  background-color: #fff;
  padding: 3%;
  margin-top:3%;
  border-radius: 5px;
  --moz-border-radius: 5px;
#nheader {
  background-color: white;
  height: 100px;
  color: purple;
  font-size: 25px;
}

#npara {
    border-width: inherit;
    height: 10px;
    font-size: 20px;
    color: purple;
}
.raw {
  float: left;
}

.column {
  float:left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

#grocery {
  padding-left: 300px;
}

/* -------------------------------Css for mobile------------------------------*/
@media screen and (max-width: 340px;){
  .body {
    width: 90%;
    font-size: 95%;
  }}
